/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(-45deg, #133a2a, #0f2e23, #1e5c45, #133a2a);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.etnLogo {
  fill: #FFB400;
  width: 100px;
  height: auto;
  margin-bottom: 1.5rem;
}